<!doctype html>
<html>
<head>
<title>I got issues</title> </head>
<link href="./stylesheets/style.css" rel="stylesheet">
<script src='/socket.io/socket.io.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js'></script>
<script src='./js/app.js'></script>
    <body>
        {{{body}}}
    </body>
</html>
